@media (max-width: 600px) {
  .dflex {
    display: flex;
    gap: 20px;
  }

  .header {
    background-color: rgba(255, 255, 255, 0.637);
    backdrop-filter: blur(10px);
    /* height: 2; */
  }

  .menu-mobile {
    display: block;
  }

  .navigation__nav {
    display: none;
  }



  .menu-close {
    height: 25px;
    position: relative;
    top: .3rem;
    left: 200px;
  }


  .sidebar {
    right: 0;
    width: 250px;
    background-color: #f1f1f1;
    position: fixed;
    top: 0;
    height: 100%;
    overflow: auto;
    z-index: 22222;
  }
  .respnavigation__nav {
    display: flex;

  }
  .respheader__navigation-list {
    display: flex;
    flex-direction: column;
  }

  .sidebar a {
    display: block;
    color: black;
    padding: 16px;
    text-decoration: none;
  }


  .sidebar a.active {
    background-color: #04AA6D;
    color: white;
  }


  .sidebar a:hover:not(.active) {
    background-color: #555;
    color: white;
  }
  .hamburger {
    display: block;
  }
  .hamburger--nav {
    top: 10rem;
    position: absolute;
  }
  .overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 3333;
    display: none;
  }

  .heading--primary {
    font-size: 2.4rem;
  }

  .heading__tertiary {
    text-align: center;
  }

  .universal-level {
    text-align: center;
  }

  .about__content {
    flex-direction: column;
  }

  .about-members {
   flex-direction: column;
  }


  .footer--container {
    flex-direction: column;
  }

  .footer--item {
    margin-bottom: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .footer--item-right {
    display: none;
   
  }

  .contact--location {
    width: 350px;
  }
  .contact--side {
    flex-direction: column;
  }
  .copy--item {
    text-align: center;
  }
  .copyright {
    flex-direction: column;
  }
  .copy--item-right {
    display: none;
  }
}