*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "DM Sans", sans-serif;
  font-family: "Lato", sans-serif;
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  line-height: 1.6;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
  /*actual sizing of 10px*/
  scroll-behavior: smooth;
}

:root {
  --color-white: #fff;
  --color-gray: #ccc;
  --color-gray-dark: linear-gradient(180deg,
      rgb(221, 221, 221) 0%,
      rgb(187, 187, 187) 100%);
  --color-gray-dark-2: #666;
  --color-black: #000;
  --color-black-2: #333;
  --color-black-3: #111;
  --bg-color: rgba(255, 255, 255, 0.1);
  --color-primary: #23a4;
  --black-shadow: 0 0.15rem 0.15rem rgba(0, 0, 0, 0.2);
  --color-secondary: #32912d;
  --color-main: #4a5a09;
}

.container {
  max-width: 135rem;
  width: 95%;
  margin: 0 auto;
}

.header {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 100%;
  position: fixed;
  z-index: 100;
  background-color: var(--bg-color);
  backdrop-filter: blur(10px);
  height: 10rem;
}

.header__navigation {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 7rem;
}

.logo {
  text-decoration: none;
  font-size: 2.5rem;
  cursor: pointer;
}
.logo--photo {
  width: 6.5rem;
  height: 6.5rem;
}

.header__navigation-list {
  position: relative;
  display: flex;
  align-items: center;
}

.header__navigation-item {
  list-style: none;
  font-size: 1.8rem;
  margin-right: 2rem;
}

.header__navigation-link:link,
.header__navigation-link:visited {
  text-transform: uppercase;
  color: var(--color-white);
  text-shadow: 1px 1px 1px var(--color-black-3);
  text-decoration: none;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}

.header__navigation-link:hover,
.header__navigation-link.active {
  color: var(--color-secondary);
  text-shadow: none;
  backface-visibility: hidden;
}

/* RESUABLE CLASS NAME THAT CAN BE USED TO SYSTEMATICALLY REDUCES MARGIN,
BY JUST ONLY REDUCING THEM IN SIZES IN MEDIA QUERY */

.u-text-center {
  text-align: center;
}

.u-margin-bottom-big {
  margin-bottom: 8rem !important;
}

.u-margin-bottom-medium {
  margin-bottom: 5rem !important;
}

.u-margin-bottom-small {
  margin-bottom: 1.5rem !important;
}
.heading {
  position: relative;
  width: 100%;
  font-size: 3.4rem;
  color: #060606;
  text-transform: uppercase;
  font-weight: bold;
  text-align: center;
}
.heading::after {
  content: '';
  background-color: var(--color-secondary);
  position: absolute;
  width: 60px;
  text-align: center;
  right: 0;
  top: 0;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  height: 7px;
  left: 0;
  border-radius: 100px;
}
.heading--primary {
  font-size: 2.8rem;
  text-transform: capitalize;
  font-weight: 300;
  text-shadow: 0 0 1.8rem rgba(0, 0, 0, 0.1);
  color: var(--color-white);
}

.heading--primary-sub {
  font-size: 2.2rem;
  font-weight: 500;
  display: block;
  color: var(--color-white);
}

.heading__secondary {
  text-transform: capitalize;
  font-size: 2.5rem;
  font-weight: 500;
  text-shadow: var(--black-shadow);
  color: var(--color-black);
  letter-spacing: 0.2rem;
  transition: all 0.2s;
  position: relative;
  text-align: center;
}

.heading__secondary::before {
  content: "";
  position: absolute;
  width: 9rem;
  height: 0.3rem;
  border-radius: 1rem;
  background: var(--color-main);
  top: 4rem;
  text-align: center;
  left: 50%;
  transform: translateX(-50%);
}

.heading__tertiary {
  font-size: 3.1rem;
  display: block;
  font-weight: 600;
  text-transform: capitalize;
  line-height: 1.35;
  color: var(--color-secondary);
  /* text-shadow: var(--black-shadow); */
}

.heading--main {
  font-size: 2.4rem;
  color: var(--color-black-3);
  font-weight: 300;
}

.paragraph,
.about__content-list {
  font-size: 2.1rem;
  font-weight: 400;
  margin: 0 0 1rem;
  color: var(--color-black);
}

.contact--paragraph {
  color: var(--color-white);
  font-size: 2.1rem;
  font-weight: 400;
  margin:  5rem 0 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.heading--content {
  font-size: 18px;
  padding: 14px 20px;
  position: relative;
  line-height: 26px;
  text-transform: uppercase;
  font-weight: 700;
  color: #333;
  background: rgb(221, 221, 221);
  background: var(--color-gray-dark);
  letter-spacing: 1px;
  text-shadow: 0px 1px 1px #f5f5f5;

}
.index--section {

}
.home__section {
  min-height: 100vh;
  background-image: linear-gradient(to right,
      rgba(225, 1, 167, 0.1),
      rgba(0, 0, 0, 0.2)),
    url("https://www.ncs.org.ng/wp-content/uploads/2019/10/NCS-House-Banner.jpg");
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
}
.index--section {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: linear-gradient(to right, rgba(), rgba()), url();
}
.contact--hero {
  padding: 12rem 0;
    background-image: linear-gradient(to right, rgba(0,0,0,0.1), rgba(0,0,0,0.2)), url(../assests/img/contact-us.avif);
  background-position: center;
  background-size: cover;
  min-height: 45vh;
}

.contact--side {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.contact--side--left {
  flex: 0 0 50%;
}
.contact--side--right {
  flex:  0 0 40%;
}
.hero-content {
  color: var(--color-black);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.launch-time {
  display: flex;
  gap: 2rem;
  margin: 0 auto;
  justify-content: center;
  align-items: center;
  margin-bottom: 3rem;
}

.launch-time .counter {
  flex-basis: 100px;
}

.launch-time .counter p {
  font-size: 2.3rem;
  margin-bottom: 1rem;
  height: 7rem;
  width: 7rem;
  border-radius: 50%;
  background: var(--color-white);
  color: var(--color-black);
  font-weight: 500;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 0 1.5rem rgba(0, 0, 0, 0.1);
}

.launch-time .counter span {
  color: var(--color-white);
  font-size: 2.5rem;
  font-weight: 300;
}

.slider-btn {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 3.5rem;
}

.btn:link,
.btn:visited {
  font-size: 1.5rem;
  font-weight: 500;
  cursor: pointer;
  padding: 1.2rem 3rem;
  border-radius: 5rem;
  display: inline-block;
  text-decoration: none;
  text-transform: uppercase;
  border: 0.1rem solid var(--color-white);
  letter-spacing: 0.2rem;
  transition: 0.5s ease-in;
}

.white--btn {
  background: var(--color-white);
  color: var(--color-black) !important;
  font-weight: 500 !important;
}

.green--btn {
  background: var(--color-secondary);
  color: var(--color-white);
}

/* ABOUT CITYFOLKS */
.about__section {
  padding: 0;
  background: var(--color-gray);
}
.personnel { 
  font-weight: 600;
  color: var(--color-black);
}
.about--page {
  box-shadow: 0 0 0 0 transparent, 0 -15px 0 0 transparent,
    5px 0 12px -4px rgba(0, 0, 0, 0.2), -5px 0 12px -4px rgba(0, 0, 0, 0.2);
  padding: 0 30px;
  padding-bottom: 60px;
  background: #fff;
}

.about__container {
  display: flex;
  justify-content: space-between;
}

.about--commitee {
  padding: 9rem 0 0;
}
.about--activities {
  padding: 7rem 0 0;
}

.page--title {
  margin: 0 auto 3rem auto;
  width: 100%;
  padding-top: 7.5rem;
}

.region--page--title {
  display: flex;
  justify-content: space-between;
}

.breadcrumb {
  flex: 0 0 60%;
  max-width: 85rem;
}

.social-media {
  margin-right: 0;

  display: flex;
  justify-content: space-between;
}

.breadcrumb,
.social-media {
  list-style: none;
  position: relative;
  background: transparent;
  margin-bottom: 0;
  padding-top: 0;
  padding-left: 0;
  min-height: 4rem;
}

.breadcrumb li {
  display: inline-block;
  gap: 1rem;
  padding: 0;
}

.breadcrumb li+li::before {
  content: "|";
  font-size: 1.5rem;
  margin: 0 1rem;
}

.breadcrumb li a:link,
.breadcrumb li a:visited {
  color: var(--color-black-3);
  text-decoration: none;
  font-size: 1.9rem;
  transition: all .2s ease-in;
}

.breadcrumb li a:hover,
.breadcrumb li a:active {
  color: var(--color-main)
}

.breadcrumb>li+li::before {
  padding: 0 0 0;
  color: var(--color-main);
}

.social--link {
  display: inline-block;
  font-size: 3rem;
  text-decoration: none;
  margin: 0 .5rem;
}

.menu--level {
  list-style: none;
  position: relative;
  border-right: 1px solid var(--color-gray);
  border-left: 1px solid var(--color-gray);
}
.menu--level li {
  border-bottom: 1px solid var(--color-gray-dark-2);
}
.menu--level li a {
  display: block;
  letter-spacing: normal;
  text-transform: none;
  padding: 8px 12px;
  color: #be590f;
  font-size: 1.6rem;
  font-weight: 400;
  text-decoration: none;
  text-transform: capitalize;
}

.about__content {
  display: flex;
  justify-content: space-between;
  margin: 0 2rem;
}

.about__content-left {
  flex: 0 0 70%;
}

.about__content-right {
  flex: 0 0 25%;
  border: 1px solid #ddd;
  background-color: var(--color-gray-dark);
  box-shadow: 0 0.5rem 0.5rem var(--black-shadow);
  height: 4rem;
}

.content__photo {
  display: inline-block;
  max-width: 100%;
  width: 43%;
  float: right;
  margin-left: 3rem;
  margin-bottom: 2rem;
  border-radius: 4px;
  padding: 5px;
  margin-top: 0;
  height: auto;
  border: 1px solid #ddd;
}

.about__content-list li {
  font-weight: 700;
}

.mailbox {
  width: 90%;
  padding-left: 1rem;
}
.mail_text_1 {
  width: 100%;
  font-size: 1.8rem;
  color: var(--color-gray-dark-2);
  background-color: transparent !important;
  border-bottom: 1px solid #050000 !important;
  border: 0px;

  padding: 1.2rem 2rem;
  margin: 0.8rem 0;
  display: inline-block;
  border-bottom: 0.3rem solid transparent;
  border-radius: 4px;
  transition: 0.5s;
  -webkit-transition: 0.5s;
  border: none;
}
.massage_text {
  width: 100%;
  font-size: 1.8rem;
  color: var(--color-gray-dark-2);
  background-color: transparent !important;
  border-bottom: 1px solid #050000 !important;
  padding-right: 2rem;
  border: 0px;
  height: 7rem;
  padding-top: 3rem;
  resize: vertical;
}
.mail_text_1:focus,
.massage_text:focus {
  outline: none;
}
.contact--section {
  padding: 5rem 0;
}

.footer {
  padding: 6rem 0;
  background-color: var(--color-secondary);
  line-height: 1.7rem;
}
.footer--container {
  display: flex;
  justify-content: space-between;
  width: 100%;
}