*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "DM Sans", sans-serif;
  font-family: "Lato", sans-serif;
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  line-height: 1.6;
  box-sizing: inherit;
}
html {
  font-size: 62.5%; /*actual sizing of 10px*/
  scroll-behavior: smooth;
}
:root {
  --color-white: #fff;
  --color-black: #000;
  --color-black-2: #333;
  --color-black-3: #111;
  --bg-color: #32912d;
  --color-primary: #23a4;
}
.container {
  max-width: 125rem;
  width: 95%;
  margin: 0 auto;
}
.header {
  width: 100%;
  padding: 0.4rem 0;
  color: #fff;
  position: fixed;
  z-index: 100;
  background-color: var(--bg-color);
}
.header__navigation {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 7rem;
}
.logo {
  text-decoration: none;
  color: var(--color-white);
  font-size: 2.5rem;
  cursor: pointer;
}
.header__navigation-list {
  position: relative;
  display: flex;
  align-items: center;
}
.header__navigation-item {
  list-style: none;
  font-size: 1.8rem;
  margin-right: 2rem;
}
.header__navigation-link:link,
.header__navigation-link:visited {
  text-transform: uppercase;
  color: var(--color-white);
  text-shadow: 1px 1px 1px var(--color-black-3);
  text-decoration: none;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}
.header__navigation-link:hover,
.header__navigation-link.active {
  color: var(--color-black-2);
  text-shadow: none;
}

/* RESUABLE CLASS NAME THAT CAN BE USED TO SYSTEMATICALLY REDUCES MARGIN,
BY JUST ONLY REDUCING THEM IN SIZES IN MEDIA QUERY */

.u-text-center {
  text-align: center;
}
.u-margin-bottom-big {
  margin-bottom: 8rem !important;
}
.u-margin-bottom-medium {
  margin-bottom: 5rem !important;
}
.u-margin-bottom-small {
  margin-bottom: 1.5rem !important;
}

.heading--primary {
    font-size: 2.8rem;
    text-transform: capitalize;
    font-weight: 300;
    text-shadow: 0 0 1.8rem rgba(0, 0, 0, 0.1)
}
.heading--primary-sub {
    font-size: 2.2rem;
    font-weight: 500;
    display: block;
}


.home__section {
  min-height: 100vh;
  background-image: linear gradient(to right, rgba(0,0,0,0.1), rgba(0,0,0, 0.2)), url(./a);
  display: flex;
  justify-content: center;
  align-items: center;
}
.hero-content {
  color: var(--color-black);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.launch-time {
  display: flex;
  gap: 2rem;
  margin: 0 auto;
  justify-content: center;
  align-items: center;
  margin-bottom: 3rem;
}
.launch-time .counter {
  flex-basis: 100px;
}
.launch-time .counter p {
  font-size: 2.3rem;
  margin-bottom: 1rem;
  height: 7rem;
  width: 7rem;
  border-radius: 50%;
  background: var(--color-black);
  color: var(--color-white);
  font-weight: 500;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 0 1.5rem rgba(0, 0, 0, 0.1);
}
.launch-time .counter span {
  font-size: 2.5rem;
  font-weight: 300;
}
.slider-btn {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 3.5rem;
}
.btn:link,
.btn:visited {
  font-size: 1.5rem;
  font-weight: 100;
  cursor: pointer;
  padding: 1.2rem 3rem;
  border-radius: 5rem;
  display: inline-block;
  text-decoration: none;
  text-transform: uppercase;
  border: 0.1rem solid var(--color-white);
  letter-spacing: 0.2rem;
  transition: 0.5s ease-in;
  color: var(--color-white);
  box-shadow: var(--black-shadow);
}
.btn:hover,
.btn:active {
  background: var(--color-secondary);
  color: var(--color-white);
}
.white--btn {
  background: var(--color-white);
  color: var(--color-black) !important;
  font-weight: 500 !important;
}
.color-btn {
  background: var(--color-main);
  color: var(--color-white);
}
